#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.7rem;
  text-align: center;
}
body{
  background-image: url('https://res.cloudinary.com/dcvqnyvvt/image/upload/v1710435813/AnasAbdin__Photo_tqzpxv.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}
/* change font to roboto */
body {
  font-family: 'Roboto', sans-serif;
}